body {
    background-image: url("#black.jpg");
    display:flex;
    flex-direction:row;
}
h1 {
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:25px;
}
a {
    color:rgb(204, 153, 153);
    

}
img {
    height:100px;
    width:100px;
    border-left:auto;
    border-right:auto;
}
